<h3>{{game_title}}</h3>
<div class="pong-game" [ngStyle]="{
    'height': gameHeight + 'px',
    'width': gameWidth + 'px'
}">
    <div class="net"></div>
    <div class="score" id="left-score">{{left_score}}</div>
    <div class="score" id="right-score">{{right_score}}</div>
    <div class="racket" id="left-racket" [ngStyle]="{
        'background-color': r_l.backgroundColor,
        'top': r_l.top + 'px',
        'left': r_l.left + 'px',
        'height': r_l.height + 'px',
        'width': r_l.width + 'px'
    }"></div>
    <div class="racket" id="right-racket" [ngStyle]="{
        'background-color': r_r.backgroundColor,
        'top': r_r.top + 'px',
        'left': r_r.left + 'px',
        'height': r_r.height + 'px',
        'width': r_r.width + 'px'
    }"></div>
    <div class="ball" [ngStyle]="{
        'background-color': ball.backgroundColor,
        'height': ball.diameter + 'px',
        'width': ball.diameter + 'px',
        'top': ball.top + 'px',
        'left': ball.left + 'px'
    }"></div>
</div>

<div>
    <label for="start">start: </label>
    <input type="checkbox" name="start" id="start" [(ngModel)]="start">
</div>
<div>
    <button (click)="reset()">reset</button>
</div>

<app-pong-racket [player]="r_l"></app-pong-racket>
<app-pong-racket [player]="r_r"></app-pong-racket>
<app-pong-ball [ball]="ball"></app-pong-ball>
<app-pong-game [game]="game"></app-pong-game>