<h3>{{game_title}}</h3>

<canvas id="stage" width="{{gameWidth}}" height="{{gameHeight}}" [ngStyle]="{'width': '100%', 'background-color': this.game.backgroundColor}"></canvas>

<div>
    <label for="start">start: </label>
    <input type="checkbox" name="start" id="start" [(ngModel)]="start">
</div>
<div>
    <button (click)="reset()">new game</button>
    <button (click)="resetAll()">reset all params</button>
</div>

<app-pong-racket [player]="r_l"></app-pong-racket>
<app-pong-racket [player]="r_r"></app-pong-racket>
<app-pong-ball [ball]="ball"></app-pong-ball>
<app-pong-game [game]="game"></app-pong-game>
